# Veri Tipleri

 #################################################################
 ###    Tip     ###  Kisaltma  ###             Örnek           ###
 ### --------------------------------------------------------- ###
 ###  Integer   ###    int     ###             3, 10           ###
 ###   Float    ###   float    ###            1.5, 7.0         ###
 ###   String   ###    str     ###           "S3m", '2'        ###
 ###  Boolean   ###    bool    ###          True, False        ###
 ###    List    ###    list    ###      [1,2,True, 'a', 1]     ###
 ###    Set     ###    set     ###         {1,2,True, 'a'}     ###
 ### Dictionary ###    dict    ### {'isim': 'Mesut, 'yas': 32} ###
 ###    Tuple   ###    tup     ###         (1, 2, True)        ###
 #################################################################

### Sayilar
* <b> int: </b> Tam Sayilar
* <b> float: </b> Ondalik Sayilar

In [7]:
type(1.5)

float

### Aritmetik Operasyonlar

In [8]:
3+4

7

In [9]:
3*4

12

In [10]:
5%3

2

In [12]:
3*4
3+5

8

In [14]:
3+(2*5)

13

In [15]:
3.1 * 2.0

6.2

In [17]:
3.0*5

15.0

### Yazilar
     P  |  Y  |  T  |  H  |  O  |  N   
    _________________________________
     0  |  1  |  2  |  3  |  4  |  5    
     0  | -5  | -4  | -3  | -2  | -1

In [4]:
strvar = "Python"
print(strvar)

Python

In [6]:
strvar[-3]

'h'

In [7]:
strvar[2:]

'thon'

In [8]:
strvar[:3]

'Pyt'

In [9]:
strvar[2:5]

'tho'

In [13]:
strvar[1:5:3]

'yo'

[] # tek bir eleman alinir
[:] ## baslangic ve bitis arasindaki elemanlar alinir
[::] ## baslangic ve bitis arasindaki elemanlar ücüncü kisimdaki degere gore atlayarak degeler alinir

In [14]:
len(strvar)

6

In [18]:
strvar = strvar + " ogren!"
strvar

'Python ogren!'

In [19]:
strvar * 5

'Python ogren!Python ogren!Python ogren!Python ogren!Python ogren!'

In [20]:
strvar

'Python ogren!'

In [28]:
print(strvar.upper())
print(strvar.lower())
print(strvar.split("o"))
print(strvar.split(sep="o", maxsplit=1))
strvar.endswith()

PYTHON OGREN!
python ogren!
['Pyth', 'n ', 'gren!']
['Pyth', 'n ogren!']

### Boolean

In [34]:
a = True
print(type(a))
b = False
print(a)
print(b)
c = 'True'
print(type(c))

<class 'bool'>
True
False
<class 'str'>

In [36]:
yas1 = 20
yas2 = 18

print(yas2 > 18)

False

In [41]:
yas2 == 18

True

In [39]:
yas2 != 18

False

In [44]:
not yas2 == 18

False

In [43]:
not yas2 > 18

True

### list & set
    [a  ,  b  ,  c  ,  d  ,  e  ,  a]   
    _________________________________
     0  |  1  |  2  |  3  |  4  |  5    
     0  | -5  | -4  | -3  | -2  | -1

In [45]:
liste = ['a', 'b', 'c', 'd', 'e', 'a']
print(liste)

['a', 'b', 'c', 'd', 'e', 'a']

In [47]:
liste = liste + ['f']
liste

['a', 'b', 'c', 'd', 'e', 'a', 'f']

In [49]:
liste[3:5]

['d', 'e']

In [51]:
liste.append('g')
liste

['a', 'b', 'c', 'd', 'e', 'a', 'f', 'g']

In [52]:
liste.pop()

'g'

In [53]:
liste

['a', 'b', 'c', 'd', 'e', 'a', 'f']

In [54]:
liste.pop(5)
print(liste)

['a', 'b', 'c', 'd', 'e', 'f']

In [55]:
sayilar = [123,12321,312,45435,35,345,1,1]
sayilar.sort()

In [56]:
sayilar

[1, 1, 35, 123, 312, 345, 12321, 45435]

In [57]:
sayilar.reverse()
print(sayilar)

[45435, 12321, 345, 312, 123, 35, 1, 1]

In [59]:
set(sayilar)

{1, 35, 123, 312, 345, 12321, 45435}

### tuple
    (a  ,  b  ,  c  ,  d  ,  e  ,  a)   
    _________________________________
     0  |  1  |  2  |  3  |  4  |  5    
     0  | -5  | -4  | -3  | -2  | -1

In [60]:
liste = ['a', 'b', 'c', 'd', 'e', 'a']
print(liste)
tup = ('a', 'b', 'c', 'd', 'e', 'a')
print(tup)

['a', 'b', 'c', 'd', 'e', 'a']
('a', 'b', 'c', 'd', 'e', 'a')

In [62]:
liste[0] = 12312
liste

[12312, 'b', 'c', 'd', 'e', 'a']

In [65]:
tup[0] = 12312
tup

TypeError: 'tuple' object does not support item assignment

In [69]:
tup.count(True)

0

In [71]:
tup.index('a')

0

In [72]:
tup.index(True)

ValueError: tuple.index(x): x not in tuple

### dictionary

In [73]:
dict1 = {'isim': 'Mesut', 'yas':32, 'lokasyon': 'Berlin'}
dict1

{'isim': 'Mesut', 'yas': 32, 'lokasyon': 'Berlin'}

In [88]:
dict2 = {
    'isim': 'Mesut',
    'yas': 32,
    'dogdugu_sehir': 'Istanbul',
    'yasadigi_sehir': 'Berlin' # yasadigi sehir bilgisi
    ##'lokasyon': 
}
dict2

{'isim': 'Mesut',
 'yas': 32,
 'dogdugu_sehir': 'Istanbul',
 'yasadigi_sehir': 'Berlin'}

In [77]:
dict3 = {
    'isim': 'Mesut',
    'yas': 32,
    'lokasyon': {
        'dogdugu_sehir': 'Istanbul',
        'yasadigi_sehir': 'Berlin'
    } 
}
dict3

{'isim': 'Mesut',
 'yas': 32,
 'lokasyon': {'dogdugu_sehir': 'Istanbul', 'yasadigi_sehir': 'Berlin'}}

In [78]:
dict2['yas']

32

In [82]:
dict2.get('yas')

32

In [81]:
dict3['lokasyon']['yasadigi_sehir']

'Berlin'

In [83]:
dict3.get('lokasyon').get('yasadigi_sehir')

'Berlin'

In [85]:
dict2.keys()

dict_keys(['isim', 'yas', 'dogdugu_sehir', 'yasadigi_sehir'])

In [86]:
dict2.values()

dict_values(['Mesut', 32, 'Istanbul', 'Berlin'])

In [87]:
dict2.items()

dict_items([('isim', 'Mesut'), ('yas', 32), ('dogdugu_sehir', 'Istanbul'), ('yasadigi_sehir', 'Berlin')])